.main-header {
    background: #999999;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

main {
    margin-top: 60px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 0;
}
.main-section {
    border: 1px solid #000000;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.top-nav-menu {
    display: none;
}

.main-footer > nav {
    display: none;
}

aside {
    display: none;
}