.main-header {
    background: #999999;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.top-nav-menu {
    display: none;
}
main {
    margin-top: 60px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 0;
}
.main-section {
    border: 1px solid #000000;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
}
.main-footer {
    background-color: #999999;
    color: #000000;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    display: flex;
}
.main-footer > nav {
    display: none;
}

aside {
    display: none;
}

@media screen and (min-width: 1200px) {
    .main-header {
        background: #999999;
        color: #000000;
        padding: 10px;
        display: flex;
        text-align: left;
        font-size: 15px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    .hamburger-menu {
        display: none;
    }
    .top-nav-menu {
        background: #999999;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        position: fixed;
        top: 30px;
        width: 100%;
        height: auto;
    }
    .top-nav-menu li {
        color: #000000;
        margin: 0 10px;
        display: inline-flex;
    }
    .top-nav-menu li a {
        color: #000000;
        text-decoration: none;
    }
}